*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

header{
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: #466cf6;

}

.container{
  width: 10%;
}

main{
margin-left: 5px;
}

h1{
    margin-top: 20px;
}

.sottotitolo{
    color:grey;
    font-weight: 500;
}

.sottotitolo span{
    color: #466cf6;
}

.immagini-tim{
    margin-top: 20px;
}

.didascalie{
font-size: small;
}

.evidence{
    margin-top: 20px;
}
.evidence span{
 background-color: yellow;
}

.list{
    margin-top: 20px;
    margin-left: 15px;
}

.table{
    margin-top: 20px;
}

.intestazione{
    background-color: rgb(0, 128, 255);
    color: white;
}

.dispari{
    background-color:aqua;
}

.pari{
    background-color: white;
}

footer{
    margin-left: 5px;
    margin-top: 30px;
}

h5{
    color:grey;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-img{
    width: 150px;

}